Q1)

Counter.count refers to a class variable — shared across all instances.

self._count is an instance variable — unique to each object

In [5]:
class Counter:
    count = 0  # Class variable

    def __init__(self):
        self._count = 0  # Instance variable

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()  # a._count = 1, Counter.count = 1
a.increment()  # a._count = 2, Counter.count = 2
b.increment()  # b._count = 1, Counter.count = 3

print(a.get_counts())  # ➜ Instance count: 2, class count: 3
print(b.get_counts())  # ➜ Instance count: 1, class count:

Instance count: 2, class count: 3
Instance count: 1, class count: 3

In [6]:
class Counter:
    count = 0  # Class variable

    def __init__(self):
        self._count = 0  # Instance variable

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()  # a._count = 1, Counter.count = 1
a.increment()  # a._count = 2, Counter.count = 2
b.increment()  # b._count = 1, Counter.count = 3

print(a.get_counts())
print(b.get_counts())

Instance count: 2, class count: 3
Instance count: 1, class count: 3

Counter.count: incremented 3 times in total (shared)

a._count: incremented 2 times

b._count: incremented once

Q2)

In [8]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

The sum_all function only accepts one argument args, but we are passing multiple values (sum_all(1, 2, 3)) — this causes a TypeError.

The return statement is not indented.

You should use *args to allow a variable number of arguments.

In [9]:
def first_word(words):
    return min(words)
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))  # Output: 'Bartholomew'

Bartholomew

Q4)

In [10]:
class Employee:
    # Class variable to count number of employees
    employee_count = 0
    total_salary = 0  # To help calculate average salary

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        # Update class-level counters
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

    def display_info(self):
        return f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}"


# Subclass
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

In [11]:
# Creating Employee instances
e1 = Employee("Alice", "Smith", 50000, "HR")
e2 = Employee("Bob", "Johnson", 60000, "Finance")

# Creating FulltimeEmployee instances
f1 = FulltimeEmployee("Charlie", "Williams", 70000, "Engineering")
f2 = FulltimeEmployee("Diana", "Brown", 80000, "Marketing")

# Display employee info
print(e1.display_info())
print(f1.display_info())

# Show average salary and total count
print("Total Employees:", Employee.employee_count)
print("Average Salary:", Employee.average_salary())

Name: Alice, Family: Smith, Salary: 50000, Department: HR
Name: Charlie, Family: Williams, Salary: 70000, Department: Engineering
Total Employees: 4
Average Salary: 65000.0