Q5 a)

In [1]:
# Step 1: Input the string and convert it to a list of characters
input_string = "Python"
char_list = list(input_string)
# Step 2: Delete at least 2 characters (for example, 'P' and 'y')
del char_list[0]  # Deleting 'P'
del char_list[0]  # Deleting 'y' (after deleting 'P', 'y' is now at index 0)
# Step 3: Reverse the resultant list
char_list.reverse()
# Step 4: Join the list back into a string and print it
result_string = ''.join(char_list)
print(result_string)

noht

Q5 b)

In [2]:
# Step 1: Take two numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
# Step 2: Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (division by zero)"
# Step 3: Print the results
print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {num1} / {num2} = {division}")

Enter the first number: 2
Enter the second number: 3
Addition: 2.0 + 3.0 = 5.0
Subtraction: 2.0 - 3.0 = -1.0
Multiplication: 2.0 * 3.0 = 6.0
Division: 2.0 / 3.0 = 0.6666666666666666

Q6)

In [6]:
# Step 1: Accept a sentence from the user
sentence = input("Enter a sentence: ")

# Step 2: Replace 'python' with 'pythons'
modified_sentence = sentence.replace('python', 'pythons')

# Step 3: Print the modified sentence
print(modified_sentence)

Enter a sentence: i love playing with python
i love playing with pythons

Q7)

In [7]:
# Step 1: Accept a class score from the user
score = float(input("Enter the class score (0-100): "))

# Step 2: Determine the letter grade based on the score
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score. Please enter a score between 0 and 100.'

# Step 3: Print the letter grade
print(f"The letter grade is: {grade}")

Enter the class score (0-100): 91
The letter grade is: A

Q8)

In [8]:
# Step 1: Define the input list
x = [23, 'Python', 23.98]

# Step 2: Create a list to store the types of each element
types_list = [type(element) for element in x]

# Step 3: Print the original list and the list of types
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

Q9)

In [9]:
# Define the set of IT companies
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Find the length of the set
length_of_IT_companies = len(IT_companies)

# Print the length
print(f"The number of IT companies is: {length_of_IT_companies}")

The number of IT companies is: 7

In [10]:
# Define the set of IT companies
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Add 'Twitter' to the set
IT_companies.add('Twitter')

# Print the updated set
print("Updated IT companies:", IT_companies)

Updated IT companies: {'Twitter', 'Google', 'Apple', 'Oracle', 'Facebook', 'Amazon', 'Microsoft', 'IBM'}

In [11]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
additional_companies = {'Twitter', 'Netflix', 'Tesla'}

# Merge two sets with union (|)
all_companies = IT_companies | additional_companies
# or: all_companies = IT_companies.union(additional_companies)

print("All IT companies:", all_companies)

All IT companies: {'Twitter', 'Google', 'Facebook', 'Netflix', 'Tesla', 'IBM', 'Apple', 'Oracle', 'Amazon', 'Microsoft'}

In [12]:
# Define the set of IT companies
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter'}

# Remove a company (e.g., 'Twitter') using discard
IT_companies.discard('Twitter')

# Print the updated set
print("Updated IT companies after removal (using discard):", IT_companies)

Updated IT companies after removal (using discard): {'Google', 'Facebook', 'IBM', 'Apple', 'Oracle', 'Amazon', 'Microsoft'}

In [13]:
my_set = {1, 2, 3}

# Using remove()
try:
    my_set.remove(4)  # This will raise a KeyError
except KeyError:
    print("Element not found in the set.")

# Using discard()
my_set.discard(4)  # This will not raise an error
print("After discard:", my_set)  # Output: {1, 2, 3}

Element not found in the set.
After discard: {1, 2, 3}

In [19]:
# Join A and B using the union() method
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
joined_set = A.union(B)

# Print the result
print("Joined set using union():", joined_set)

Joined set using union(): {19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
# Find the intersection of A and B using the & operator
intersection_set = A & B

# Print the result
print("Intersection of A and B using & operator:", intersection_set)

Intersection of A and B using & operator: {19, 20, 22, 24, 25, 26}

In [21]:
# Check if A is a subset of B using <= operator
is_subset = A <= B

# Print the result
print("Is A a subset of B using <= operator:", is_subset)

Is A a subset of B using <= operator: True

In [22]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
# Check if A and B are disjoint using isdisjoint() method
are_disjoint = A.isdisjoint(B)

# Print the result
print("Are A and B disjoint sets?", are_disjoint)

Are A and B disjoint sets? False

In [24]:
# Join B with A using | operator
joined_B_A_operator = B | A

# Print the result
print("Joined B with A using | operator:", joined_B_A_operator)
# Join A with B using | operator
joined_A_B_operator = A | B

# Print the result
print("Joined A with B using | operator:", joined_A_B_operator)

Joined B with A using | operator: {19, 20, 22, 24, 25, 26, 27, 28}
Joined A with B using | operator: {19, 20, 22, 24, 25, 26, 27, 28}

In [25]:
# Find the symmetric difference of A and B using ^ operator
symmetric_diff_operator = A ^ B

# Print the result
print("Symmetric difference using ^ operator:", symmetric_diff_operator)

Symmetric difference using ^ operator: {27, 28}

In [26]:
# Attempting to access A or B after deletion
try:
    print(A)
except NameError as e:
    print("Error:", e)

try:
    print(B)
except NameError as e:
    print("Error:", e)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
# Step 1: Create a list of ages
ages_list = [25, 30, 25, 40, 30, 35, 40, 50]

# Step 2: Convert the list to a set
ages_set = set(ages_list)

# Step 3: Compare the lengths
length_of_list = len(ages_list)
length_of_set = len(ages_set)

# Print the results
print("Length of the list:", length_of_list)
print("Length of the set:", length_of_set)

Length of the list: 8
Length of the set: 5